astroid==2.15.8
attrs==23.1.0
black==23.9.1
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
coverage==7.3.0
dill==0.3.7
Faker==19.6.2
Flask==2.3.3
idna==3.4
iniconfig==2.0.0
isodate==0.6.1
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
lazy-object-proxy==1.9.0
lxml==4.9.3
MarkupSafe==2.1.3
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
pluggy==1.2.0
PyJWT==2.8.0
pytest==7.4.0
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
requests-file==1.5.1
requests-toolbelt==1.0.0
ruff==0.0.291
six==1.16.0
tomlkit==0.12.1
urllib3==2.0.4
Werkzeug==2.3.7
wrapt==1.15.0
zeep==4.2.1
flask-cors==4.0.0